<!--
Assignment: BSc Mobile Web Applications, Digital Skills Acadeny

Student ID: WE60-1054
Filecreated: 2018/05/28
Reference Sources:
You Tube tutorial: https://www.youtube.com/watch?v=0eWrpsCLMJQ&list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ
On-line tutorial: https://angular.io/tutorial 

@author: Owen Taaffe
@version: v1.0

-
Changelog:
* app.component.html: added app-bus-stops element

-->

<button (click)="showDialog = !showDialog" id="Dialog" class="btn">Open Instructions</button>
<div class="title_div">
	<h1>{{ title }}</h1> 
</div>
<app-index-modal [(visible)]="showDialog">
	<button (click)="showDialog = !showDialog" class="btn">Close</button>
	<h2>Welcome to Dublin Bus Info <small>by</small> Stop ID App</h2>
	<p>
		Please enter a bus stopid in the input area and submit, this alrady has the stopid of 2 please enter your own.
	</p>
	<p>
		This will give you the route numbers of the bus(es), the times next bus(es) is due in minutes, the names of the location it started at and the names of the location it ends at. 
	</p>
	<p>
		This infomation will refresh itself every 30 seconds, please remember that it may take upto that amount of time to retreive your info depending on when in that timeframe you entered your bus stopid.
	</p>
	<p><b>Thank You</b> for using this application hope you enjoy you bus trip.</p>
</app-index-modal>

<app-bus-stops></app-bus-stops>
